<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>OTP Form</title>
    {% include 'cdn.html' %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<div class="container mt-5 d-flex flex-column align-items-center">
    <h2 id="response"></h2>
    <form id="otpForm">
        <div class="form-group d-flex flex-column align-items-center">
            <label for="otpInput" class="mb-3">Enter OTP:</label>
            <div id="otpInputGroup" class="mb-3">
                <!-- Individual input fields for OTP -->
            </div>
        </div>
        <button class="btn btn-primary w-100">Submit</button>
    </form>

    <div id="timerContainer" class="mt-3">
        <p id="timerText">Time remaining: <span id="timer">60</span> seconds</p>
        <button id="resendOtpBtn" class="btn btn-link" style="display: none;">Resend OTP</button>
    </div>
</div>

{% include 'footer.html' %}

</body>
<script src="{{url_for('static', filename='js/script.js')}}" ></script>

</html>
